Index:
  Background: Build
  StandardLibrary: True
Style:
  FullyQualifiedNamespaces: True
Diagnostics:
  ClangTidy:
    FastCheckFilter: None
    Add:
      - bugprone-*
      - cert-*
      - clang-diagnostic-*
      - clang-analyzer-*
      - concurrency-*
      - cppcoreguidelines-*
      - hicpp-*
      - llvm-*
      - misc-*
      - modernize-*
      - mpi-*
      - performance-*
      - portability-*
      - readability-*
    Remove:
      - '*-magic-numbers'
      - 'readability-identifier-length'
      - bugprone-easily-swappable-parameters
      - hicpp-*
      - llvm-prefer-static-over-anonymous-namespace
      - misc-non-private-member-variables-in-classes
      - modernize-use-trailing-return-type
      - readability-convert-member-functions-to-static
      - readability-use-concise-preprocessor-directives
  UnusedIncludes: Strict
Hover:
  ShowAKA: True
